/* *{
    margin:0px;
    padding:0px;
} */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.img {
  width: 100vw;
  height: 100vh;
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.enter {
  display: flex;
  flex-direction: column;
  margin-right: 300px;
  align-items: center;
  position: relative;
  border: 1px solid antiquewhite;
  border-radius: 7px;
  height: 150px;
  width: 300px;
  justify-content: space-evenly;
  background-color: rgba(107, 104, 105, 0.75);
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: antiquewhite;
}
.btn {
  width: 200px;
  height: 50px;
  border-radius: 7px;
  background-color: rgba(107, 104, 105, 0.75);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
.linkHome {
  text-decoration-line: none;
  text-decoration-style: none;
}
