:root {
  --color-primary: #02c39a;
  --color-secondary: #028090;
  --boton-fondo: #f3bc56;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: #202020;
  color: white;
}


h1,h2,h3,h4,p{
  color: white;
}
