.container {
  display: flex;
  margin-top: 3vh;
  padding-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: center;
  width: 80vw;
  height: 79vh;
  border-radius: 10px;
  background-color: var(--color-secondary);
}

.container_raza {
  display: flex;
  flex-direction: column;
  width: 715px;
  height: 700px;
}

.titulo {
  width: 715px;
  height: 36px;
}

.container_info {
  display: flex;
  justify-content: space-around;
  width: 720px;
  height: 300px;
}
.container_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 232px;
}

.container_image img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 232px;
  border-radius: 50%;
}

.container_boton {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 36px;
  border-radius: 10px;
  background-color: var(--boton-fondo);
}

.container_boton :hover{
  cursor: pointer;
}

.container_detalle {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 232px;
}

.container_detalle_input {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 377px;
  height: 36px;
}

.input_name {
  width: 377px;
  height: 36px;
}

.detalle_input {
  width: 174px;
  height: 36px;
}

.container_temperament {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 660px;
  height: 270px;
}

.container_save {
  display: flex;
  margin-left: 2vh;
  justify-content: flex-end;
  width: 660px;
  height: 36px;
}

.h1NewDog {
  font-size: 32px;
  font-weight: bold;
}

.addTemperaments {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 1vw;
  width: 36vw;
  height: 17vh;
  background-color: var(--color-primary);
  border-radius: 10px;
}

.addTemperaments .btn {
  width: 100px;
  height: 50px;
}
.formTemperaments {
  display: flex;
  justify-content: flex-start;
  margin-left: 1vw;
  width: 36vw;
  height: 5vh;  
}

select {
  border-radius: 10px;
}

.btn {
  width: inherit;
  height: 50px;
  border-radius: 10px;
  background-color: var(--boton-fondo);
  font-weight: bold;
  cursor: pointer;
}
