.container {
  display: flex;
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: flex-start;
  width: 90vw;
  height: 79vh;
  border-radius: 10px;
  color: #202020;
  border: 3px solid gray;
}

.container_raza {
  display: flex;
  flex-direction: column;
  width: 730px;
  height: 550px;
}

.titulo {
  width: 715px;
  height: 36px;
}

.container_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 720px;
  height: 450px;
}
.container_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 295px;
  width: 232px;
}

.container_image img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 232px;
  border-radius: 15%;
}

.container_boton {
  display: flex;
  margin-top: 1vh;
  font-weight: bold;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 36px;
  border-radius: 10px;
  color: white;
  background-color: var(--boton-fondo);
}

.container_boton :hover {
  cursor: pointer;
}

.container_detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 432px;
  background-color: gray;
}
.container_detalle_nombre {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 377px;
}
.container_detalle_input {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  width: 377px;
}

.input_name {
  width: 377px;
  height: 36px;
  border-radius: 5px;
}
.danger {
  font-size: 15px;
  color: red;
  width: 100px;
}
.detalle_input {
  width: 177px;
  height: 30px;
  border-radius: 5px;
}

.container_temperament {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
  height: 370px;
  gap: 10px;
}

.container_save {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  justify-content: flex-end;
  width: 600px;
  height: 36px;
}

.h2NewDog {
  font-size: 32px;
  font-weight: bold;
}

.addTemperaments {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 2vw;
  width: 36vw;
  height: 27vh;
  background-color: white;
  color: #202020;
  border-radius: 10px;
}

.addTemperaments .btn {
  width: 100px;
  height: 50px;
}
.formTemperaments {
  display: flex;
  margin-left: 30px;
  width: 200px;
  height: 6vh;
}
.container_input {
  display: flex;
  flex-direction: column;
}
#temperaments {
  margin-top: 50px;
  border-radius: 10px;
  width: 200px;
  height: 36px;
}

.btn {
  width: inherit;
  height: 50px;
  border-radius: 10px;
  background-color: var(--boton-fondo);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
/* .danger{
  border:red;
} */
.etiqueta {
  height: 10px;
  width: 200px;
  background-color: blueviolet;
}
