.container {
  display: flex;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 10vh;
  border-radius: 10px;
}

.navbar {
  display: flex;
  font-size: 2vh;
  align-items: center;
  width: 80vw;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
}

.divImg {
  display: flex;
  margin-right: 1vw;
  justify-content: flex-end;
}

.divItem {
  display: flex;
  width: 30vw;
  justify-content: space-around;
}

.linkNav {
  text-decoration-line: none;
}
.image {
  width: 10vh;
  height: 9vh;
  border-radius: 50%;
  background-size: cover;
}
.divInput {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 7px;
}
.inputNavbar {
  border: none;
  border-radius: 10px;
  width: 30vw;
  height: 5vh;
color: #202020;
  /* background-color: var(--color-primary); */
}

.inputButton {
  margin-left: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--boton-fondo);
  font-weight: bold;
  width: 5vw;
  height: 5vh;
  cursor: pointer;
}

.item {
  font-size: 3vh;
  color: white;
}
