.container {
  display: flex;
  margin-top: 2vh;
  margin-left: 20vh;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 47.1875rem;
  border-radius: 20px;
  
}
.container_title {
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  width: 40.125rem;
  height: 3.5rem;
  border-radius: 20px;
  font-size: 2rem;
}

.container_atribuciones {
  margin-top: 2rem;
  width: 40.125rem;
  height: 34.3125rem;
  border-radius: 20px;
}
.detail_atribuciones {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width: 37.375rem;
  height: 14.9375rem;
  color: white;
  font-size: 1.25rem;
}
.detail_atribuciones p {
  margin-top: 2vh;
  margin-bottom: 4vh;
}
.detail_atribuciones a {
  margin-left: 20px;
  padding: 0 15px;
  border-radius: 10px;
  background-color: var(--boton-fondo);
  margin-bottom: 1vh;
}
