.tarjetaContenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 320px;
    height: 260px;
    border-radius: 10px;
    text-decoration-line: none;
    cursor: pointer;
  }
  
  .titulo {
    display: inline-block;
    color: black;
    height: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    background-color: rgba(179, 146, 86, 0.74);
  }
  
  .pieTarjeta {
    display: flex;
    color: black;
    height: 80px;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    background-color: rgba(179, 146, 86, 0.74);
  }
  
  .containerImage {
    height: 130px;
  }
  .links{
    text-decoration-line: none;
  }
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .caracteristica {
    display: flex;
    
    font-weight: bold;
    flex-direction: column;
    font-size: 17px;
  }