.container {
    display: flex;
    margin-top: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    width: 80vw;
    height: 65vh;
    background-color: var(--color-secondary);
    flex-wrap: wrap;
    padding: 30px 0 0 40px;
    gap: 10px;
}