/* .container {
    display: flex;
    margin-top: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    width: 80vw;
    height: 65vh;
    background-color: var(--color-secondary);
    flex-wrap: wrap;
    padding: 30px 0 0 40px;
    gap: 10px;
} */

.container {
  display: grid;
  margin: 5vh 0;
  padding-top: 5px;
  padding-left: 40px;
  align-items: center;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.btnPaginado {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0 30px;
  gap: 50px;
}

.boton {
  width: 190px;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  background-color: var(--boton-fondo);
  cursor: pointer;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
}
