.container {
  display: flex;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 8vh;
  border-radius: 10px;

}

.formFilter {
  display: flex;
  font-weight: bold;
  color: white
}

.filters {
  display: flex;
  font-size: 2vh;
  align-items: center;
  width: 80vw;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
}

.title {
  font-size: 4vh;
  color: white;
  font-weight: bold;
}

.divImg {
  display: flex;
  margin-right: 1vw;
  justify-content: flex-end;
}

.divItem {
  display: flex;
  width: 20vw;
  justify-content: space-around;
}

.filterNameAscDes {
  display: flex;
  gap: 10px;
}

.filterAscDes {
  display: flex;
  flex-direction: column;
}

.linkNav {
  text-decoration-line: none;
}

.image {
  width: 10vh;
  height: 10vh;
}

.divInput {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 7px;
}

.inputNavbar {
  border: none;
  border-radius: 10px;
  width: 30vw;
  height: 5vh;
}

.btn {
  margin-left: 5px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--boton-fondo);
  padding: 0 10px;
  width: 8vw;
  height: 5vh;
  cursor: pointer;
}

.item {
  font-size: 4vh;
}

select {
 /*  background-color: var(--color-primary); */
color: #202020;
}
select option {
  /* background-color: var(--color-primary); */
  color: #202020;
}
