.container {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    height: 65vh;
    width: 80vw;
    background-color: var(--color-secondary);
    flex-wrap: wrap; 
    justify-content: center;
    font-size: 3vh;
    
  }
  
  .imageDetail {
    display: flex;
    width: 75vw;
    height: 55vh;
    gap: 2.5vw;
  }
  
  .containerImage {
    display: block;
    margin: 3vw 4vw ;
    border: 3px solid var(--boton-fondo);
    border-radius: 25%;
    width: 25%;
    height: 40vh;
  }
  
  .img {
    border-radius: 25%;
  }
  
  p {
    font-size: 25px;
    font-weight: bold;
  }
  
  .containerDetail {
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    justify-content: space-evenly;
    width: 57vw;
    height: 50vh;
    border-radius: 10px;
  }
  
  .detalleTitle {
    display: flex;
    justify-content:flex-start;
    color: black;
    font-weight: bold;
    font-style: italic;
    padding-left: 1vh;
    margin-left: 1vh;
    margin-right: 2vh;
    border-radius: 10px;
    background-color: var(--color-primary);
  }
  
  .detalleItem {
    display: flex;
    justify-content: flex-start;
    padding-left: 1vh;
    margin-left: 1vh;
    margin-right: 2vh;
    border-radius: 10px;
    background-color: var(--color-primary);
  }

  .btnPaginado {
    display: flex;
    align-items: center;
    margin-left: 40vw;
    margin-right: 40vw;
  }
  